@import "./styled_components/Footer";
@import "./styled_components/Header";
@import "./styled_components/Variables";



.App{
    border: 2px solid;
    margin: 0 2%;
    width: 800px;
    height: 800px;
    display: inline-flex;
    background-color: #fffafa;
}